@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row gap-3">
    <div class="w-30 bg-info p-5 align-items-center justify-content-center">
        <a asp-action="Index" asp-controller="Branch">
            Branch
        </a>
    </div>
    <div class="w-30 bg-info p-5 align-items-center justify-content-center">
        <a asp-action="Index" asp-controller="Branch">
            Project
        </a>
    </div>
     <div class="w-30 bg-info p-5 align-items-center justify-content-center">
            <a asp-action="Index" asp-controller="Branch">
                Branch
            </a>
        </div>
</div>